.chr-customizer {
	padding: 0 15px;
}

.chr-customizer .acf-range-wrap input[type="number"] {
	min-width: 50px;
}

.chr-customizer.first {
	border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 14px;
}
