// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

#wrapper-navbar {
	.custom-logo-link {
		img {
			height: 50px;
    		object-fit: contain;
		}
	}
}

body {
	.type-headline {
		color: $primary;
		display: block;
		width: 100%;
		padding-bottom: $spacer / 2;
		border-bottom: 1px solid lighten($light-gray, 70%);
		margin-bottom: $spacer * 1.5;
		margin-left: $spacer;
		margin-right: $spacer;
	}
	h1 {
		color: $primary !important;
		margin-bottom: $spacer;
		letter-spacing: $heading-letter-spacing;
		font-weight: bold;
	}
	h2 {
		color: $primary !important;
		margin-bottom: $spacer;
		letter-spacing: $heading-letter-spacing;
		font-weight: bold;
	}
	h3 {
		color: $primary !important;
		margin-bottom: $spacer;
		letter-spacing: $heading-letter-spacing;
		font-weight: bold;
	}
	p, a {
		letter-spacing: $text-letter-spacing;
	}
}

:not(.single) {
	#featured, #trending, #main {
		.type-headline {
			width: calc(100% - #{$spacer * 2});
		}
		article {
			margin: $spacer;
			margin-bottom: $spacer * 3;
			flex: calc(100% - #{$spacer * 2});
			display: flex;
			flex-flow: column wrap;
			justify-content: flex-start;
			header.entry-header {
				margin: 0;
				a {
					&:hover {
						text-decoration: none;
					}
				}
				h2 {
					color: $primary !important;
					margin-top: $spacer / 2;
					margin-bottom: 0;
				}
			}
			figure.the-featured-image-wrapper {
				margin: 0 auto;
				display: flex;
				flex-flow: column wrap;
				justify-content: flex-start;
				width: 100%;
				overflow: hidden;
				border: 1px solid $light-gray;
				&.cetnered-image {
					justify-content: center;
					img {
						object-fit: contain;
					}
				}
				img {
					object-fit: cover;
					display: block;
					width: 100%;
					@include respond-above(md) {
						& {
							min-height: 175px;
						}
					}
					@include respond-above(lg) {
						& {
							min-height: 210px;
						}
					}
				}
			}
			header, & > p {
				margin-left: $spacer;
				margin-right: $spacer;
			}
			.the-link-button {
				margin-top: auto;
				display: inline-block;
			}
			& > p {
				display: inline-flex;
				flex-flow: column wrap;
				margin: $spacer / 2 0;
				color: lighten($body-color, 30%);
			}
		}
	}

	#featured, #trending {
		display: flex;
		flex-flow: row wrap;
		@include respond-above(xs) {
			& > article {
				flex: calc(50% - #{$spacer * 2});
			}
		}
	}

	#trending ~ #main {
		margin-top: $spacer;
		padding-top: $spacer * 2;
		article {
			margin-top: $spacer * 2.5;
		}
	}

	#main {
		article {
			header.entry-header {
				h2 {
					margin-top: $spacer;
					margin-bottom: $spacer;
				}
			}
		}
	}

}

.single {
	#main {
		article {
			margin-top: 0;
			.entry-meta {
				margin-bottom: $spacer;
			}
			.entry-content {
				width: 100%;
				margin-top: $spacer * 2;
				#dpsp-content-top {
					display: none;
				}
				h2, h3, h4 {
					margin-top: $spacer * 3;
				}
			}
		}
	}
}

#right-sidebar {
	aside.widget {
		margin-top: $spacer * 2;
		margin-bottom: $spacer * 2;
		&:first-child {
			margin-top: 0;
		}
		&.widget_recent_entries {
			ul {
				list-style: none;
				padding-left: 0;
				li {
					padding-bottom: $spacer / 2;
    				border-bottom: 1px solid $light-gray;
					margin-bottom: $spacer / 2;
					&:last-child {
						border-bottom: none;
					}
				}
			}
		}
	}
}

.btn-secondary {
	background-color: $primary;
	border-color: $primary;
	border-radius: 0;
	&:hover {
		background-color: lighten( $primary, 5% );
		border-color: lighten( $primary, 5% );
	}
}

#wrapper-footer-full,
#wrapper-static-hero {
	background-color: $primary;
	padding: $spacer;
	margin: auto;
	.textwidget {
		p {
			margin-bottom: 0;
			color: $navbar-dark-color;
			text-align: center;
		}
	}
}

.sharedaddy {
	display: none;
}

.search {
	#main {
		.page-header,
		.entry-summary {
			margin-left: $spacer;
			margin-right: $spacer;
		}
		.entry-meta {
			display: none;
		}
	}
}

nav {
	& > ul.pagination {
		margin-left: $spacer;
		margin-right: $spacer;
	}
}
